ul li {
    list-style: none;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-logo h1 {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.navbar-logo {
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-between;
    background:  hsl(13, 100%, 72%);
    padding: 20px 80px;
    color: white;
    align-items: center;
    width: 100%;
}

.sign-in {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: hsl(13, 100%, 72%);
    background-color: white;
    cursor: pointer;
}

.sign-in:hover {
    background: hsl(13, 78%, 74%);
    color: white;
}

.together {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-icon {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-links {
    color: rgb(238, 231, 231);
    text-decoration: none;
}

.user-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-enter p {
    cursor: pointer;
}

.user-enter p:hover {
    color: rgb(180, 171, 171);
}

.box-shadow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 30px;
}

.navbar {
    background: hsl(13, 100%, 72%);
    z-index: 1;
}

.connect-dropdown {
    box-shadow: rgba(21, 21, 44, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    z-index: 111;
    width: 20%;
    position: fixed;
    margin: 0;
    padding: 25px 20px;
    z-index: 111;
    text-align: left;
    color: rgb(27, 7, 27);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    top: 60px;
}

.connect-dropdown p:hover {
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 850px) {

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: hsl(13, 100%, 72%);
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 20px 50px;
        gap: 1px;
        background: transparent;
    }

    .top-part-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
    }

    .together {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        border-bottom: 1px rgb(236, 235, 235) solid;
        padding: 20px;
    }

    .box-shadow {
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
        width: 60%;
        height: 240px;
        position: absolute;
        top: -100%;
        transition: all 0.5s ease;
      }
    
      .box-shadow.active {
        background-color: white;
        top: 60px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 111;
      }

    .user-enter {
        display: flex;
        flex-direction: column;
    }

    .box-shadow {
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
    }

    .user-enter {
        color: hsl(208, 49%, 24%);
        margin-top: 12px;
    }

    .user-enter button {
        background: hsla(353, 91%, 50%, 0.705);
        color: white;
        cursor: pointer;
        padding: 15px 45px;
    }

    .user-enter button:hover {
        background: rgb(209, 89, 89);
    }

    .nav-links {
        color: hsl(208, 49%, 24%);
    }

    .nav-links:hover {
        color: hsl(208, 39%, 41%);
    }

}